<div class="cont">
  <div class="row app-one">
    <div class="col-sm-3 side">
      <div class="side-one">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-3 col-3 heading-avatar">
            <div class="heading-avatar-icon">
              <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!-- Heading End -->

        <!-- SearchBox -->
        <div class="row searchBox">
          <div class="col-sm-12 searchBox-inner">
            <div class="form-group has-feedback">
              <input class="searchBox-inp" placeholder="Search" />
            </div>
          </div>
        </div>

        <!-- Search Box End -->
        <!-- sideBar -->

        <div
          class=" "
          ng-repeat="user in users"
          ng-click="startContact(user.user_id,user.name)"
        >
          <div class="user-cont" ng-if="user.name && user.user_id!=sender">
            <img src="images/user.png" class="user-default" />
            <div class="details-wrap">{{user.name}}</div>
            <div class="details-wrap email-txt">{{user.email}}</div>
          </div>
        </div>

        <!-- Sidebar End -->
      </div>

      <!-- Sidebar End -->
    </div>

    <!-- New Message Sidebar End -->

    <!-- Conversation Start -->
    <div class="col-sm-9 conversation">
      <!-- Heading -->
      <button class="sign-out" ng-click="signOut()">Log Out</button>
      <div class="row heading" ng-if="receiver">
        <div class="col-sm-2 col-md-1 col-3 heading-avatar">
          <div class="heading-avatar-icon">
            <img src="images/user.png" class="user-default" />
          </div>
        </div>
        <div class="col-sm-8 col-7 heading-name">
          <h5 class="user-name">{{name}}</h5>
          <p class="status text-success">Online</p>
          <span class="heading-online">Online</span>
        </div>
      </div>
      <!-- Heading End -->

      <!-- Message Box -->
      <div class="row message" id="conversation">
        <div class="row message-previous">
          <div class="col-sm-12 previous"></div>
        </div>

        <div class=" message-body" ng-repeat="post in posts">
          <div
            ng-class="(post.sender==sender) ? 'sender' : 'receiver'"
            ng-if="post.post"
          >
            <div class="message-text">
              {{post.post}}
            </div>
            <span class="message-time pull-right">
              {{post.currentDate}}
            </span>
          </div>
        </div>
      </div>
      <!-- Message Box End -->

      <!-- Reply Box -->
      <div class="row reply">
        <div class="col-sm-1 col-1 reply-emojis">
          <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <div class="col-sm-9 col-9 reply-main">
          <input
            class="chat-inp"
            ng-model="post"
            ng-keypress="sendPost($event)"
          />
        </div>
        <div class="col-sm-1 col-1 reply-recording">
          <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-1 col-1 reply-send">
          <i
            class="fa fa-send fa-2x"
            aria-hidden="true"
            ng-click="postData()"
          ></i>
        </div>
      </div>
      <!-- Reply Box End -->
    </div>
    <!-- Conversation End -->
  </div>
  <!-- App One End -->
</div>
