/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font;
  font-size: 100%;
  line-height: 1.5;
  background: url('../../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
.date-inp
{
  width:100% !important;
}
a,
a:visited {
  color: $link-color;
  text-decoration: none;

  /* on hover */
  &:hover,
  &:focus {
    color: $link-hover;
    text-decoration: underline;
  }

  /* on click */
  &:active {
  }

  /* mobile tap color */
  &:link {
    /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 0.875rem;
  font-weight: 700;
}
 .email-txt  {
  color: #264a60;
  font-size: 13px;
  display: inline;
}
.details-wrap  {
  letter-spacing: 1px;
}
/*********************
HEADER STYLES
*********************/

.header {
  background-color: $white;
}

#inner-header {
  width: 100%;
  padding: 0 50px;
  text-align: center;

  a {
    font-size: $small;
    color: $black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 50px;
    line-height: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#logo {
  margin: 0.75em 0;
  display: none;

  a {
    color: $white;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
  border-bottom: 0;
  margin: 0;
  display: none;

  li {
    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding: 0.75em;
    }
  }
}

/*********************
RESPONSIVE NAV
*********************/

.hamburger {
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:before {
    content: "\2261";
    font-size: 24px;
    font-weight: bold;
    color: #555;
  }
}

.responsive-wrapper {
  display: none;

  a {
    display: block;
    width: 100%;
    line-height: 2;
    text-align: center;
    background: #fff;
    color: $text-color;
  }
}

/*********************
MAIN PAGE
*********************/

#content {
  margin-top: 1.5em;
}

// slider
.slider {
  margin-bottom: 30px;
}

.image-slider {
  max-height: 400px;

  img {
    width: 100%;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
  background-color: $black;
  color: $light-gray;
}

/* Custom Style */
.login-container {
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

#output {
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success {
  background: rgb(25, 204, 25);
}

#output.alert-danger {
  background: rgb(228, 105, 105);
}

img.user-image {
  width: 100%;
  padding: 2px;
}

.login-container::after {
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
}

.form-box input {
  width: 100%;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition: 0.2s ease-in-out;
}

.form-box input:focus {
  outline: 0;
  background: #eee;
}

.form-box input[type="text"] {
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
  margin-bottom: 12px;
}

.form-box input[type="password"] {
  border-radius: 0 0 5px 5px;
}

.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 13px;
  background: lightblue;
  border: 1px solid #cacaca !important;
  color: #000;
}
h6 {
  font-size: 14px !important;
  line-height: 1.4;
}

h5 {
  font-size: 16px !important;
  letter-spacing: 1px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.registration-wrap {
  width: 621px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d6d6d6;
  padding: 45px;
  min-height: 350px;
  margin-top: 60px;
  background: #fff;
}
.registration-wrap {
  width: 574px;
  /* margin: 51px auto; */
  -webkit-box-shadow: 10px 10px 5px -5px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 5px -5px rgba(255,255,255,1);
  box-shadow: 10px 10px 5px -5px rgb(193, 193, 193);
 
}
.form-elements {
  padding: fi;
  padding: 7px;
  font-size: 13px;
  margin-bottom: 16px;
  border: none;
  outline: 0;
  width: 264px;
  border-bottom: 1px solid #a7a7a7;
}
.title-text {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 26px;
}
.sign-up {
  margin-top: 14px;
  font-size: 12px;
  letter-spacing: 1px;
  color: gray;
}
.col-blue {
  color: #010102;
  cursor: pointer;
}
.reg-btn {
  border: none;
  background: #ffff;
  border: 1px solid #c5c5c5;
  font-size: 13px;
  padding: 6px;
  margin-top: 18px;
  width: 111px;
}

.reg-img {
  width: 83%;
  position: absolute;
  top: -35px;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Chat Section */






.fa-2x {
  font-size: 1.5em;
  color: #ffff;
  position: absolute;
  top: 3px;
}

.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  height: calc(100% - 38px);
  margin: auto;
  padding: 0;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(179, 179, 179, 1);
  -moz-box-shadow: 10px 10px 5px -1px rgba(179, 179, 179, 1);
  box-shadow: 10px 10px 5px -1px rgba(179, 179, 179, 1);
}

.app-one {
  background-color: #f7f7f7;
  height: 623px;
  overflow: hidden;
  margin: 28px 0 23px 0;
  border: 1px solid #dedede;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.chat-inp {
  width: 100%;
  padding: 6px;
  font-size: 13px;
}
.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.side-two {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.heading {
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #c1c1c1;
    z-index: 1000;
    border-bottom: 1px solid grey;
    margin-left: -2px !important;
}

.heading-avatar {
  padding: 0;
  cursor: pointer;
}

.heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}
.heading-compose {
  padding: 0;
}

.heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.heading-dot {
  padding: 0;
  margin-left: 10px;
}

.heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: 500px;
}

.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  width: 100%;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}

/*New Message*/

.newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}
.newMessage-heading {
  padding: 10px 16px 10px 15px !important;
  margin: 0 !important;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.newMessage-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}
.newMessage-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}
.newMessage-back i {
  margin: auto !important;
}

.composeBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.compose-sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  background: beige;
}

.message {
  padding: 0 !important;
  margin: 0 !important;
  background: url("w.jpg") no-repeat fixed center;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: 500px;
}
.message-previous {
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}
.previous {
  font-size: 15px;
  text-align: center;
  padding: 10px !important;
  cursor: pointer;
}

.previous a {
  text-decoration: none;
  font-weight: 700;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;
}

.message-main-receiver {
  /*padding: 10px 20px;*/
  max-width: 60%;
}

.message-main-sender {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 13px;
  padding-bottom: 0 !important;
}

.message-time {
  font-size: 12px;
  text-align: right;
  color: #8BC34A;
  margin-bottom: 6px;
  margin-top: -4px;
}



.receiver .message-time
{
  color: #000;
}

.receiver {
  width: 213px !important;
  padding: 4px 10px 7px !important;
  -moz-box-shadow: 10px 10px 5px -1px rgba(179, 179, 179, 1);
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  background: #fff;
}
.container{
  max-width: 1404px !important;
}
.sender {
  float: right;
  width: 213px !important;
  background: #264a60;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  padding: 2px 6px 0px 3px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 8px;
  margin-right: 17px;

}

.receiver {
  width: 213px !important;
  background: #fff;
  border-radius: 10px 10px 0 10px;
  padding: 2px 6px 0px 3px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 8px;
  margin-left: 17px;

}

/*Reply*/
 .sign-out {
  position: absolute;
  left: 87%;
  margin-top: 12px;
  font-size: 13px;
  padding: 6px;
  width: 85px;
  background: #fbfdff;
  border: 1px solid #315d78;
  cursor: pointer;
  letter-spacing: 1.4px;
}
.reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}

.reply-emojis {
  padding: 5px !important;
}

.reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-recording {
  padding: 5px !important;
}

.reply-recording i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px !important;
}

.reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}
.user-cont {
  font-size: 13px;
  border-bottom: 1px solid #bba2a2;
  padding: 6px;
  margin-bottom: 5px;
  cursor: pointer;
}

.user-default {
  width: 12%;
  float: left;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: -1px;
  border-radius: 23px;
}


.searchBox-inp {
  border: 1px solid #c1c1c1 !important;
  width: 100%;
  padding: 4px;
  font-size: 13px;
}
@media screen and (max-width: 700px) {
  .app {
    top: 0;
    height: 100%;
  }
  .heading {
    height: 70px;
    background-color: #009688;
  }
  .fa-2x {
    font-size: 2.3em !important;
  }
  .heading-avatar {
    padding: 0 !important;
  }
  .heading-avatar-icon img {
    height: 50px;
    width: 50px;
  }
  .heading-compose {
    padding: 5px !important;
  }
  .heading-compose i {
    color: #fff;
    cursor: pointer;
  }
  .heading-dot {
    padding: 5px !important;
    margin-left: 10px !important;
  }
  .heading-dot i {
    color: #fff;
    cursor: pointer;
  }
  .sideBar {
    height: calc(100% - 130px);
  }
  .sideBar-body {
    height: 80px;
  }
  .sideBar-avatar {
    text-align: left;
    padding: 0 8px !important;
  }
  .avatar-icon img {
    height: 55px;
    width: 55px;
  }
  .sideBar-main {
    padding: 0 !important;
  }
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .sideBar-name {
    padding: 10px 5px !important;
  }
  .name-meta {
    font-size: 16px;
    padding: 5% !important;
  }
  .sideBar-time {
    padding: 10px !important;
  }
  .time-meta {
    text-align: right;
    font-size: 14px;
    padding: 4% !important;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: baseline;
  }



  /*Conversation*/
  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }
  .message {
    height: calc(100% - 140px);
  }
  .reply {
    height: 70px;
  }
  .reply-emojis {
    padding: 5px 0 !important;
  }
  .reply-emojis i {
    padding: 5px 2px !important;
    font-size: 1.8em !important;
  }
  .reply-main {
    padding: 2px 8px !important;
  }
  .reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
  }
  .reply-recording {
    padding: 5px 0 !important;
  }
  .reply-recording i {
    padding: 5px 0 !important;
    font-size: 1.8em !important;
  }
  .reply-send {
    padding: 5px 0 !important;
  }
  .reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
  }
}
